.card {
    background-color: rgb(232, 232, 232);
}
.btn-primary {
    color: rgb(130, 130, 130);
    border: solid 1px rgb(204, 204, 204);
    background-color:rgb(232, 232, 232);
}
.btn-primary:hover {
    color: rgb(130, 130, 130);
    border: solid 1px rgb(232, 232, 232);
    background-color:rgb(204, 204, 204)
}
.btn-primary:focus{
    color: rgb(130, 130, 130);
    background-color:rgb(204, 204, 204);
    border: solid 1px rgb(204, 204, 204);
}